<div onclick="doRed()" class="container">
	<h1>О нас</h1>
	<div class="row">
		<div class="col-md-6">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11232.774089080158!2d30.44833498095535!3d50.44760846957365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc27725b49d7%3A0xd00801d72ba54c32!2z0KHQutCy0LXRgCDQuNC8LiDQldC70LXQvdGLINCi0LXQu9C40LPQuA!5e0!3m2!1sru!2sua!4v1519940537948" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-6">
		<h3> Где нас найти?
</h3>
			<div class="contacts">

			<dl>
	  		<dt>Офисы в г. Киев</dt>
	  		<dd>Ул. Академика Янгеля, 20</dd>
				<dd>г. Киев, б-р Кольцова, дом 14-Е</dd>
				<dd>Мазепы, дом 3, оф. 197</dd>
				<dd>ул. Стрельников, дом 5, оф. 150</dd>
				<dt>Офисы в г. Николаев</dt>
				<dd>г. Киев, ул. Ольжича, дом 9, оф. 24</dd>
	  		<dt>Телефон горячей линии:</dt>
	  		<dd>88001234555</dd>
			</dl>
			</div>
			
		</div>
	</div>
		
<h2>Поможем выбрать, не дадим скучать!</h2>
<p>Наша задача состоит не только в том, чтобы просто продать нужный товар, но и в том, чтобы информировать и просвещать покупателя. Для этого мы снимаем видеообзоры новинок, готовим статьи и новости. Вооружившись всесторонней информацией об интересном устройстве и его главных конкурентах, вы сможете самостоятельно принять взвешенное решение о покупке именно того товара, который вам нужен.
</p>
<h2>Нам доверяют</h2>
<p>Нашей главной целью и основополагающим принципом в работе является удовлетворенность клиентов — как розничных покупателей, так и организаций. С некоторыми компаниями мы сотрудничаем уже более 10 лет. При решении любых вопросов мы всегда на вашей стороне, потому что понимаем — наше будущее на 100% в ваших руках.
</p>
<h2>Для удобства выбора</h2>
<p>Мы стремимся предоставить максимум полезной информации о продаваемых товарах. Сайт k-store.zzz.com.ua снабжен простыми и эффективными инструментами подбора товаров по техническим характеристикам. Например, в категории «Ноутбуки» вы можете задать сортировку по 11 важным параметрам. Мы готовы предложить 100% совместимые сопутствующие товары, аксессуары и расходные материалы.

Также в Киеве мы предлагаем посетить демонстрационный салон-магазин, где вы сможете «вживую» осмотреть и попробовать в действии приглянувшееся устройство, или же просто забрать свой заказ.

У нас работают профессиональные продавцы и консультанты. В телефонном режиме или непосредственно в магазине они готовы оказать квалифицированную техническую консультацию и ответить на любые вопросы.
</p>
<h2>Удобная доставка во все регионы</h2>
<p>Все товары в нашем магазине продаются с доставкой.
Доставка в пределах Киева осуществляется в течении одного дня. Мы осуществляем доставку без предоплаты во всех областных центрах Украины. В этом случае Вы получите свой заказ уже на следующий день. Любой из наших товаров вы можете приобрести в кредит даже без первого взноса.

Есть возможность оплатить свой заказ несколькими способами. Мы принимаем: наличную оплату, безналичный перевод.

Все товары в нашем магазине сопровождаются гарантией. Подтверждением гарантии служит фирменный гарантийный талон.

Мы дорожим своей репутацией, и поэтому сознательно не продаём неофициальный или нелегальный товар без гарантии и сервисной поддержки в Украине. В конечном итоге покупка продуктов сомнительного происхождения доставляет головную боль и для продавца, и для покупателя.
</p>
</div>
$("body").css("background-color", "green");
