<div class="product_info">
  <div class="container">
    <div class="row">
    <h1>iPhone 6s gold</h1>
      <div id="describe" class="col-md-6">
        <img src="assets/product_iphone6.png" alt="">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <button class="btn btn-success">Купить сейчас!</button>
          </div>
          <div class="col-md-3"></div>
        </div>
        
        <div class="row">
          <h2>Описание</h2>
          <p>Едва начав пользоваться iPhone 6s, вы сразу почувствуете, насколько всё изменилось. Технология 3D Touch открывает потрясающие новые возможности — достаточно одного нажатия. А функция Live Photos позволяет буквально оживить ваши воспоминания. И это только начало. Присмотритесь к iPhone 6s внимательнее, и вы увидите инновации на всех уровнях.</p>

          <h2>3D Touch. Новое поколение Multi-Touch.</h2>

          <p>С появлением iPhone мир узнал о технологии Multi-Touch, которая навсегда изменила способ взаимодействия с устройствами. Технология 3D Touch открывает совершенно новые возможности. Она позволяет различать силу нажатия на дисплей, что делает многие функции быстрее и удобнее. Кроме того, телефон реагирует на каждый жест лёгким тактильным откликом благодаря использованию нового привода Taptic Engine.</p>
        </div>
        <div class="col-md-6">
          <h2>Дисплей</h2>
          <ul>
            <li>Дисплей Retina HD с технологией 3D Touch</li>
            <li>Широкоформат­ный дисплей с диагональю 4.7 дюйма и подсветкой LED</li>
            <li>1334x750 пикселей, 326 пикселей/дюйм</li>
            <li> Контрастность 1400:1 (стандартная)</li>
            <li>Яркость до 500 кд/м2 (стандартная)</li>
            <li>Полная поддержка стандарта sRGB</li>
            <li>Двухдоменные пиксели для расширения угла просмотра</li>
            <li>Олеофобное покрытие на передней панели, устойчивое к появлению следов от пальцев</li>
            <li>Поддержка одновременного отображения нескольких языков и наборов символов</li>
            <li>Масштабирование экрана</li>
            <li>Удобный доступ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>